.menu-area {
  grid-area: menu;
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  display: block;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 450px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
