.status-container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: var(--content-height);
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    'status project'
    'info info';
}
.status-project {
  grid-area: project;
}

.status-describe {
  grid-area: status;
}

.status-info {
  grid-area: info;
  background: var(--bg-dark);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
