.missions {
  background-color: #22466A;
  width: 100%;
  height: var(--content-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}
