.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  border-radius: 30px;
  padding-top: 10px;
}

.card .card-title {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 2px 2px 5px #444;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.card .card-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.95rem;
  font-weight: 700;
}

