.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.logo img{
  height: 80px;
  width: 100px;
}

@media (max-width: 450px) {
  .logo {
    display: none;
  }
}
