.mission {
  width: 450px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: solid 1px #f5f5f5;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(46,76,110,1) 0%, rgba(28,44,67,1) 60%);
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 0.33fr 0.66fr;

  grid-template-areas: 'icon title'
                        'icon data';
}

.mission .data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mission .data .data-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}

.mission .data .data-row span {
  padding-left: 10px;
}
