.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: #D2E6F1;
  text-shadow: 1px 1px 2px #bbb;
}

@media (max-width: 450px) {
  .header {
    display: none;
  }
}
